<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>RGP - <%= siteTitle %>  </title>
<!-- less CND -->

</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.min.js"></script>


<!--<script>Less local -->
<link rel=stylesheet type="text/css" href="/css/style-menu.css" media="all">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/css/mainStyle.css">
<link rel="stylesheet" type="text/css" href="/css/stylecopy.css">
<link rel="stylesheet" type="text/css" href="/css/aos.css">
<link rel="stylesheet" type="text/css" href="/css/animate.css" />
<link rel="stylesheet" type="text/css" href="/css/ImgGallary.css" />
<link rel="stylesheet" type="text/css" href="/css/gridlayout.css" />

<!-- Add icon library for social media button icons-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<!-- bootstrap script  -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--  <script  src="Script/wedding.js"  > </script>-->
<!--    <script  src="Script/script.js"  > </script>-->