<nav id='home' class="navbar navbar-default navbar-fixed-top">
    <div class="logospace">
        <a class="navbar-brand" href="index.html"><img src="/images/logo-lg.png" width=50 height=50  /> </a>
        <label class='banner'>Wedding Galleries</label>

    </div>
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myInverseNavbar2" aria-expanded="false">
              
               <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span>
               <span class="icon-bar"></span> 
               <span class="icon-bar"></span> 
            </button>

        </div>
        <div class="collapse navbar-collapse" id="myInverseNavbar2">
            <ul class="nav navbar-nav navbar-right"> 
                <li><a href="/">Home</a></li>
                <li class="active"><a href="wedding.html">Weddings</a></li>
                <li><a href="events.html">Events</a></li>
                <li><a href="babyshoot.html">BabyShoot</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="/admin">AdminPage</a></li>
                <li><a href="https://www.facebook.com/RGPclicks/" class="fa fa-facebook"></a></li>
                <li><a href="https://www.instagram.com/rgp_clicks/" class="fa fa-instagram"></a></li>
                <li> <a href="https://rgpphotography.blogspot.ca" class="fa fa-blogger"></a>
            </ul>
        </div>
    </div>
</nav>
<!-- r

<!-- cover page -->
<div class="container-fluid">
    <div class="row">

        <div id="leftside" class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
            <div class="book-bg"> 
            </div>
            <div class="bg-frontImg">
                <img class='img-responsive' src='/Images/maincover/wedding/6.jpg' />
            </div>
        </div>

        <div id="rightside" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

            <div class="book-bg">
                <div class="page pageflip book-cover4 ">
                    <img class='img-responsive' src='/Images/maincover/wedding/1.jpg' />
                </div>
                <div class="page pageflip book-cover3">
                    <img class='img-responsive' src='/Images/maincover/wedding/2.jpg' />
                </div>
                <div class="page pageflip book-cover2">
                    <img class='img-responsive' src='/Images/maincover/wedding/3.jpg' />
                </div>
                <div class="page pageflip book-cover5">
                    <img class='img-responsive' src='/Images/maincover/wedding/4.jpg' />
                </div>
                <div class="page pageflip book-cover5">
                    <img class='img-responsive' src='/Images/maincover/wedding/5.jpg' />
                </div>
                <div class="page pageflip book-cover active-img">
                    <img class='img-responsive' src='/Images/maincover/wedding/1.jpg' />
                </div> 
            </div>

            <div class="bg-backImg">
                <img class='img-responsive' src='/Images/maincover/wedding/7.jpg' />
            </div>
        </div>

    </div>
</div>