  
    <!DOCTYPE html>
    <html>
      <head><% include partials/templates/head.ejs %></head>
      <body id="<%= pageID %>">
        <% include partials/templates/header.ejs %>
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <h1 class="feedback-form-title">Add new Album information</h1>
              <form class="feedback-form">
                <div class="form-group">
                  <label for="feedback-form-id">ID</label>
                  <input type="text" class="form-control" id="feedback-form-id" placeholder="Enter your id">
                </div>
    
                <div class="form-group">
                  <label for="feedback-form-name">Name</label>
                  <input type="text" class="form-control" id="feedback-form-name" placeholder="Enter your name">
                </div>
    
                <div class="form-group">
                    <label for="feedback-form-type">Type</label><br>
                    <input list="type" id="feedback-form-type">
                    <datalist id="type">
                        <option value="Wedding">
                        <option value="PreWedding">
                        <option value="PostWedding">
                        <option value="Engagement">
                        <option value="Babyshoot">
                    </datalist>  
                </div>
                <div class="form-group">
                    <label for="feedback-form-total">TotalImage</label>
                    <input type="number" class="form-control" id="feedback-form-total" placeholder="Total Image">
                </div>
                <button type="submit" class="btn btn-default pull-right">Submit</button>
              </form>
            </div><!-- primary -->
            <aside class="col-sm-8">
              <div class="maincontent feedback">
                  <h2 class="article-title">List of Albums</h2>
                  <div class="feedback-messages"></div>
              </div>
            </aside><!-- secondary -->
          </div>
        </div><!-- container -->
        <% include partials/templates/jsdefaults.ejs %>
      </body>
    </html>

     
    

   
    <!--
  <footer class="container-fluid text-center">
       <a href="#myPage" title="To Top">
          <span class="glyphicon glyphicon-chevron-up"></span>
       </a>
      
       <p>&copy; RPG . Bangalore </p>
       <p><span class="glyphicon glyphicon-phone"></span> 0435201303  </p>
    </footer> 
    < 
    -->

</body>
<footer class="container-fluid text-center">
    <p>&copy; RGP photography . Bangalore </p>
    <p><span class="glyphicon glyphicon-phone"></span> <a href="tel:847-555-5555">8903443733</a> </p>
    <p><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:rgpphotography94@gmail.com Subject=Enquire" target="_top">rgpphotography94@gmail.com</a></p>
    <p> Designed by:
        <a href="mailto:shikavi@yahoo.com Subject=Enquire" target="_top">krishtech</a></p>

</footer>

</html>
